body{
background-color: rgb(2, 128, 2);
color: rgb(0, 0, 0);
margin:0px;


}

h1 {
color: rgba(3, 1, 1, 0.192);


    }

header {
border-bottom:  solid 2px rgb(8, 68, 11);
}


section{
background: rgb(126, 6, 255);
}