body{
background-color: rgb(2, 128, 2);
color: rgb(0, 0, 0);
margin:0px;
font-family: "Chakra Petch", sans-serif;
}

h1 {
color: rgb(0, 0, 0);


    }

header {
border-bottom:  solid 2px rgb(8, 68, 11);
padding: 20px;
font-size:32px;
color: forestgreen(42, 122, 228);
}



section{
background: rgb(30, 70, 47);
padding-bottom: 80px;
padding: top 80px; 
display: flex;
justify-content: center;

}